@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container{
    width: 90%;
    margin: 0 auto;
}
.flex-container header{
    font-family: "Rubik", cursive;
    display: flex;
    /* width: 90%;
    position: sticky; */
    height: 80px;
}
hr{
    color: #9F9F9F;
}
header .header-logo{
    flex: 3;
    display: flex;
    color: #0B132A;
    align-items: center;
    justify-content: center;
}
header .header-logo h1{
    margin-top: 20px;
    font-size: 20px;
    padding-left: 10px;
    font-weight: bold;
}
header .header-menu{
    flex: 7;
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
}
.header-menu ul a{
    text-decoration: none;
    padding: 10px;
    padding-top: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #4F5665;
    align-items: center;
    justify-content: center;
}
.header-menu ul a:active{
    color: #6A4029;
    font-weight: bold;
}
header .header-account{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}    
.header-account img{
    height: 20px;
}
.header-account .chat{
    position: relative;
}
.header-account .ellipse{
    height: 10px;
    position: absolute;
    top: 25px;
    left: 70px;
}
.header-account .girl-img{
    border-radius: 100%;
}
/* .container main{
    /* height: 400px; */
/* } */ 
.flex-container main{
    display: flex;
    justify-content: center;
    text-align: center;
    /* align-items: center; */
}
main article{
    flex: 3;
    border-right: 1px solid  #9F9F9F;
}
main article h1{
    color: #6A4029;
    font-weight: bold;
    font-size: 25px;
    padding-top: 20px;
}
main article p{
    font-family: "Poppins", sans-serif;
    padding-top: 40px;
    font-size: 12px;
}
.aria .box {
    position: relative;
    padding: 10px;
}
.aria .box-1{
    background-color: #895537;
    position: absolute;
    border-radius: 20px;
    width: 90%;
    top: 40px;
    height: 350px;
}
.aria  .box-2{
    background-color:black;
    position: absolute;
    width: 40px;
    border-radius: 20px;
    width: 85%;
    height: 400px;
    top: 20px;
}
.aria  .box-3{
    background-color: #FFCB65;
    position: absolute;
    border-radius: 20px;
    width: 80%;
    padding: 0 10px;
}
.aria  .box-3 h3{
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.aria  .box-3 .o{
    font-family: "Poppins", sans-serif;
    margin-top: -40px;
    font-size: 14px;
    color: black;
    border-bottom: 1px dashed black;
    margin-bottom: 40px;

}
.aria  .box-3 .coupon{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin-top: -40px;
    color: black;
}
.aria  .box-3 .hcoupon{
    font-family: "Poppins", sans-serif;
    font-size: 33px;
    margin-top: -40px;
    color: black;
    font-weight: bold;
}
.aria  .box-3 .b{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    margin-top: -40px;
    color: black;
    /* font-weight: bold; */
}
.aria  .box-3 img{
    padding-top: 40px;
    border-radius: 100%;
    object-fit: contain;
}
article .uo button{
    background-color: #6A4029;
    border-radius: 20px;
    margin-top: 0;
    /* width: 60%; */
    /* position: static; */
    position: relative;
}
main aside{
    flex: 7;
}
/* nav{
    /* width: 80%; */

/* } */ */
aside nav a{
    color: black;
    text-decoration: none;
    /* text-align: right; */
    align-items: flex-end;
    font-family: "Rubik", cursive;
    font-weight: bold;
    font-size: 20px;
    background-color: blueviolet;
}
aside .awal img{
    border-radius: 100%;
}
aside .awal p{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}